.horizontalSpaced {
    display: flex; 
    justify-content: space-between;
}

.imageBubble {
    width: 420px;
    height: 550px;
    margin: 0 auto;
    border: 5px solid #c0c0c0;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nameBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}

.nameBox input {
    height: 30px;
    text-align: center;
}

.skipButton {
    outline: none;
    margin-top: 5px;
    width: 100px;
    height: 50px;
    font-size: 22px;
    color: white;
    background-color: #097ba0;
    border-radius: 3px;
    border: 2px solid white;
}

.skipButton:hover {
    background-color: #026fa1;
    cursor: pointer;
}


.skipButton:active {
    background-color: #026fa1;;
}


.pokeImage {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

.infoBox {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #c0c0c0;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
}

.settings {
    display: flex;
    justify-content: space-evenly;
}

.info {
    display: flex;
    justify-content: center;
}

.info > div {
    padding: 20px 20px 0 20px;
}

.correct {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#correctHeader {
    margin: 0 auto;
}

#correctList {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#correctList * {
    width: 150px;
}